%nav.navbar.navbar-expand-sm.bg-light
  %ul.nav.justify-content-center
    %li.nav-item
      %a.nav-link{:href => "#"} Home
    %li.nav-item
      %a.nav-link{:href => "#"} About
    %li.nav-item
      %a.nav-link{:href => "#"} Pricing
.container
  %h1 Internet High Five
  %p Because everyone deserves a high 5